<div class="col-md-4">
<div class="header-date hidden-xs"><b><%= Time.now.in_time_zone(Time.zone).strftime("%A, %B %d, %Y") %></b>
</div>
</div>
<div class="col-md-4">
	<div class="header-image">
<center><a href="/"><%= image_tag("Cobiased_Logo.png", :alt => "cheetah", :width => 240, :class => "desaturate") %></a><center></div>

</div>
<div class="col-md-4 hidden-xs">
	<div class="header-links">
<center><b>About | Feedback</b></center>
	</div>
</div>