<!-- header -->
<div class="container" style="padding-top: 20px">
<%= render 'header' %>
</div>

<div class="container">
	<center>
<h3>We would love to hear what you think about Cobiased and how we can improve.  Contact the creators by emailing info@cobiased.com</h3>
</div>
	</center>