<% @bigstories2.each do |story| %>

<h4><%= story.feed_items.first.title %></h4>
<p>Mentioned in <%= story.feed_items.count %> sources: </p>

<% story.feed_items.each do |item| %>
<a href="<%= item.url %>"><%= item.title %></a><br>
<% end %>

<br>
<% end %>