	<br><br>
	<center><span style="float: center; font-size: 30px;">Feeds have been updated and processed.</div>  </center>
	<br>

	<div><center><span style="font-size: 22px;"><%= link_to 'Return To Feed List', sources_path %></span></center></div>

	<br><br>
	<center><%= image_tag("borat.jpeg", :alt => "borat") %></center>