/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */ 

.feedlink {

color: blue;
font-size: 18px;
padding-bottom: 50px;

}

.feedpublished {

color: gray;
font-size: 12px;
display: inline;

}

.feedsource {

color: gray;
font-size: 12px;
display: inline;

}

img.desaturate { -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}

img.desaturate:hover { 
}

.header-date {

	color:#bcbcbc;
	font-size: 16px;
	text-align: center;
	line-height: 60px;
}

.header-links {

color:#bcbcbc;
	font-size: 16px;
	text-align: center;
	line-height: 60px;

}

.lead-title a {
	font-size: 28px;
	text-align: justify;
	color: black;
}

.lead-title {
	font-size: 28px;
	text-align: justify;
	color: black;
}

img.lead_image {

	padding-top: 10px;
}

.lead-mentions {
	padding-top: 5px;
	color:#bcbcbc;
	font-size: 16px;
}

.lead-description {
	padding-top: 10px;
	color:#bcbcbc;
	font-size: 20px;
}

.story-title a {
	font-size: 22px;
	text-align: justify;
	color: black;
	line-height: 20px;
}

.story-mentions {
	padding-top: 5px;
	color:#bcbcbc;
	font-size: 16px;
}

.story-description {
	padding-top: 10px;
	color:#bcbcbc;
	font-size: 18px;
}

.linklist {

	line-height: 70px;
}